${+}select
    j.name
    , js.step_name
    , jh.sql_severity
    , jh.message
    , msdb.dbo.agent_datetime(run_date,run_time)
from
    msdb.dbo.sysjobs AS j
    inner join msdb.dbo.sysjobsteps AS js
	on js.job_id = j.job_id
    inner join msdb.dbo.sysjobhistory AS jh
	on jh.job_id = j.job_id AND jh.step_id = js.step_id
where
    jh.run_status = 0
