set ansi_nulls on
go
set quoted_identifier on
go
-- =============================================
-- Author:	<{LastFirst}>
-- Create date: <{Date}>
-- Description:	<{Description}>
-- =============================================
create procedure <{procname}>
    @<{params}>
as
begin

    set nocount, xact_abort on;

    {{trans}}

end
go
