public static IEnumerable<object[]> ${TheoryName} => new[]
{
    new object[] { ${+} }
};

[Theory, MemberData(nameof(${~1}))]
public void ${~1}_ExceptionThrown(${args})
{
    /* Arrange */
    void shouldThrow() => new ${sut}(${args_vars})

    /* Act */
    var ex = Record.Exception(shouldThrow);

    /* Assert */
    Assert.NotNull(ex);
}
