public static IEnumerable<object[]> ${1:TheoryName} => new[]
{
    new object[] { ${+} }
};

[Theory, MemberData(nameof(${~1}))]
public void ${~1}_ExceptionThrown(${~2} ${args})
{
    /* Arrange */
    void shouldThrow() => new ${sut}(${~3})

    /* Act */
    var ex = Record.Exception(shouldThrow);

    /* Assert */
    Assert.NotNull(ex);
}
